/*** header styles ***/

header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
    padding: 8px 16px;
    background: #fff;
    .search-btn {
        background: transparent;
        border-color: transparent;
        border-radius: 4px;
        padding: 6px 6px 5px;
        box-shadow: none;
        outline: none;
        margin-left: 6px;
        transition: all 0.3s ease-in-out;
        &:hover,
        &:focus {
            background: $brown;
            color: #fff;
        }
    }
    .top-menu {
        .container-fluid {
            max-width: 1450px;
            text-align: right;
        }
        a {
            color: $dark-gray;
            font-size: 16px;
            line-height: 1.5;
            &:hover,
            &:active {
                color: #af776c
            }
        }
        @media(max-width:991.98px) {
            display: none
        }
    }
    nav {
        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
        .nav-collapse {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
        .nav-brand {
            margin-right: 30px;
            margin-left: 30px;
        }
        ul {
            list-style-type: none;
            list-style: none;
            li {
                display: inline-block;
                a,
                .menu-title {
                    display: block;
                    color: $brown;
                    font-size: 15px;
                    line-height: 23px;
                    text-transform: uppercase;
                    padding: 12px 16px;
                    cursor: pointer;
                }
                &.dropdown {
                    position: relative;
                    .dropdown-menu {
                        position: absolute;
                        display: none;
                        top: 100%;
                        left: 0;
                        background: #fff;
                        min-width: 180px;
                        li {
                            display: block;
                            width: 100%;
                            a {
                                display: block;
                                width: 100%;
                                padding: 9px 16px;
                            }
                        }
                        &.show {
                            display: block
                        }
                    }
                    &:hover {
                        .dropdown-menu {
                            display: block
                        }
                    }
                }
            }
        }
    }
    .mobile-view {
        display: none;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        .toggle-btn {
            border: 0;
            box-shadow: none;
            outline: none;
            background: transparent;
            font-size: 25px;
            color: $btn-brown;
            transition: all 0.3s ease-in-out;
            &:hover {
                color: #000
            }
        }
        .search-btn {
            background: $brown;
            color: #fff;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            margin-left: 15px;
        }
        div {
            display: flex;
            align-items: center;
        }
        a {
            i {
                color: #000;
                font-size: 25px;
            }
        }
    }
}


/*** search box style ***/

.NM-search-block {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    background: rgba(176, 119, 108, 0.9);
    padding: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    &.show {
        opacity: 1;
        visibility: visible;
    }
    .inner-container {
        width: 100%;
    }
    .toggle-search {
        position: absolute;
        top: 45px;
        right: 45px;
        padding: 0;
        border: 0;
        background: transparent;
        color: #fff;
        font-size: 40px;
        cursor: pointer;
    }
    form {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 900px;
        margin: 0 auto;
        input {
            outline: none;
            box-shadow: none;
            padding: 15px;
            font-size: 17px;
            border: none;
            background: transparent;
            border-bottom: 1px solid #fff;
            color: #fff;
            width: calc(100% - 40px);
            &::placeholder {
                color: #DFC2C3 !important;
                font-size: 16px;
                /* text-transform: uppercase; */
            }
        }
        .btn {
            padding: 0;
            border: 0;
            background: transparent;
            color: #fff;
            font-size: 25px;
        }
    }
}